List:
    Collection of Elements 
    It is enclosed within a pair of [ ]
    It is a mutable
    It can int, float, string, tuple, dictionary, set, list

In [1]:
l = [10,20,30,40,50]

In [3]:
l[1]

20

In [5]:
l[2:15]

[30, 40, 50]

In [6]:
l[::-1]

[50, 40, 30, 20, 10]

In [7]:
for i in l:
    print(i,end=" ")

10 20 30 40 50

In [9]:
for i in range(len(l)):
    print(i,l[i])

0 10
1 20
2 30
3 40
4 50

In [10]:
l = [10,20,30,40,50,[60.5,70.32,['shiva','dishan'],10+2j,20+2j,30+2j],80,90]

In [16]:
l[5][2][1]

'dishan'

In [17]:
l = []
lst = list()

In [18]:
l

[]

In [19]:
lst

[]

In [20]:
l = [10,20,30,40,50]
sum(l)

150

In [21]:
max(l)

50

In [22]:
min(l)

10

In [23]:
sum(l)/len(l)

30.0

In [24]:
l

[10, 20, 30, 40, 50]

In [25]:
l.append(60)

In [27]:
l

[10, 20, 30, 40, 50, 60]

In [28]:
l.append(70)

In [29]:
l

[10, 20, 30, 40, 50, 60, 70]

In [30]:
lst = [10,20,30,40,50]
lst.clear()

In [31]:
lst

[]

In [40]:
lst = l.copy()

In [41]:
l

[10, 20, 30, 40, 50, 60, 70]

In [42]:
lst

[10, 20, 30, 40, 50, 60, 70]

In [33]:
l.append(10)

In [34]:
l.append(10)
l.append(30)
l.append(10)

In [35]:
l

[10, 20, 30, 40, 50, 60, 70, 10, 10, 30, 10]

In [39]:
l.count(10)

4

In [37]:
l[10]

10

In [49]:
l.count(10)

4

In [42]:
lst = [11,1,1,1,1,1,1,1,1,1]
l.extend(lst)

In [43]:
l

[10, 20, 30, 40, 50, 60, 70, 10, 10, 30, 10, 11, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [45]:
l.index(70,7)

ValueError: 70 is not in list

In [46]:
l.insert(0,100)

In [47]:
l

[100,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 10,
 10,
 30,
 10,
 11,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [48]:
l.pop()

1

In [49]:
l.pop()

1

In [50]:
l

[100, 10, 20, 30, 40, 50, 60, 70, 10, 10, 30, 10, 11, 1, 1, 1, 1, 1, 1, 1]

In [53]:
l.remove(105)

ValueError: list.remove(x): x not in list

In [54]:
l

[100, 20, 30, 40, 50, 60, 70, 10, 10, 30, 10, 11, 1, 1, 1, 1, 1, 1, 1]

In [55]:
l.reverse()

In [56]:
l

[1, 1, 1, 1, 1, 1, 1, 11, 10, 30, 10, 10, 70, 60, 50, 40, 30, 20, 100]

In [57]:
l.sort()

In [58]:
l

[1, 1, 1, 1, 1, 1, 1, 10, 10, 10, 11, 20, 30, 30, 40, 50, 60, 70, 100]

In [59]:
l.sort(reverse=True)

In [62]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [61]:
l = [1,2,3,4,5,6,7,8,9,10,11,12]

In [65]:
sqLst = []
for i in l:
    sqLst.append(i*i)
sqLst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [68]:
sqLst2 = [i*i for i in l]

In [69]:
sqLst2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [70]:
for i in sqLst2:
    if i%2==0:
        print(i)

4
16
36
64
100
144

In [71]:
[i for i in sqLst2 if i%2==0]

[4, 16, 36, 64, 100, 144]

In [5]:
# for i in l:
#     print(i*i,end=" ")

[i*i for i in l]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [6]:
for i in l:
    if i%2==0:
        print(i,end=" ")

2 4 6 8 10 12

In [7]:
[i for i in l if i%2==0]

[2, 4, 6, 8, 10, 12]

In [8]:
c = 0
for i in l:
    c+=1
print(c)

12

In [35]:
import random
l = [random.randint(0,100) for i in range(10)]
# l = []
# n = 30
# for i in range(n):
#     l.append(random.randint(0,100))
# l

In [36]:
l

[92, 1, 36, 29, 66, 27, 1, 88, 24, 87]

In [37]:
l2 = l.copy()

In [72]:
minval = l[0]
for i in l:
    if i<minval:
        minval = i
minval

1

In [73]:
maxval = l[0]
for i in l:
    if i>maxval:
        maxval = i
maxval

12

In [74]:
min(l)

1

In [75]:
max(l)

12

In [76]:
sum(l)

78

In [77]:
total=0
for i in l:
    total+=i
total

78

In [78]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [38]:
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j] = l[j],l[i]
print(l)

[1, 1, 24, 27, 29, 36, 66, 87, 88, 92]

In [39]:
l2

[92, 1, 36, 29, 66, 27, 1, 88, 24, 87]

In [40]:
l2.sort()

In [41]:
l2

[1, 1, 24, 27, 29, 36, 66, 87, 88, 92]

In [79]:
l = [1,5,3,2,35,11,2]

In [80]:
l.sort()

In [81]:
l

[1, 2, 2, 3, 5, 11, 35]

In [82]:
l

[1, 2, 2, 3, 5, 11, 35]

In [83]:
l[0] = l[0]+10

In [84]:
l

[11, 2, 2, 3, 5, 11, 35]